{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('styles/home.css')}}">

{% endblock %}
{% block title %}Hello HomeController!{% endblock %}

{% block main %}

<h1 class="titre">Balise pioupiou</h1>
    <section class="balise">
    {% for balise in balise.data|slice(0, 5) %}
    {# {{dump(balise)}} #}
            <div class="carte" >
                <div class="carte-corps">
                    <p class="carte-titre">{{balise.meta.name}}</p>
                    <p class="carte-soustitre ">{{balise.meta.description}}</p>

                        <a href="{{ path('app_balise', {'id': balise.id }) }}" class="btn" role="button" aria-pressed="true">Voir</a>
                </div>
            </div>
    {% endfor %}
    </section>

{% endblock %}
