{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('styles/balise.css')}}">

{% endblock %}
{% block title %}Balise
{% endblock %}

{% block main %}


	<h1 class="titre">{{balise.data.meta.name}}</h1>
	<section class="vent">
		<div class="graphique-vent">
			<div id="wind-container">
				<canvas id="wind-canvas" width="130" height="130"></canvas>
				<span id="wind-text"></span>
			</div>
				<div class="wind-box avg">
          <span class="label">Live</span>
					<span class="value">{{balise.data.measurements.wind_speed_avg}}
						km/h</span>
				</div>
		</div>
    <div class="wind-box-min-max-container">
      <div class="wind-box max">
        <span class="label">Max</span>
        <span class="value">{{balise.data.measurements.wind_speed_max}}
          km/h</span>
      </div>

      <div class="wind-box min">
        <span class="label">Min</span>
        <span class="value">{{balise.data.measurements.wind_speed_min}}
          km/h</span>
      </div>
    </div>
	</section>
	<section class="historique">
		{{ render_chart(chart, {'class': 'graphique'}) }}
	</section>
	<script>
		window.windDirIndex = {{ windDirIndex }};
	</script>
	<script src="{{ asset('js/wind-arrow.js') }}"></script>
	<script>
		const arrow = new Pioupiou.WindArrow("wind", windReports);
		arrow.draw();
	</script>
{% endblock %}
